@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

.demo-toolbar {
  padding: 6px;

  .demo-toolbar-icon {
    padding: 0 14px;
  }

  .demo-fill-remaining {
    flex: 1 1 auto;
  }

}