<md-grid-list [cols]="3" rowHeight="4em">
  <md-grid-tile>
    <pagination-controls
      #api
      (pageChange)="p = $event"
      [showPage]="showPage"
      [showIcons]=true >
    </pagination-controls>
  </md-grid-tile>
  <md-grid-tile>
    <span *ngIf="products">1-{{selectedValue}} of {{products.length}}</span>
  </md-grid-tile>
  <md-grid-tile>
    <md-select placeholder="Rows for Page" [(ngModel)]="selectedValue">
      <md-option *ngFor="let item of itemForPage" [value]="item.value">
        {{ item.viewValue }}
      </md-option>
    </md-select>
  </md-grid-tile>
</md-grid-list>



<!--Header Column Name-->
<md-grid-list *ngFor="let product of products | slice:0:1  let i=index" [cols]="fixedCols" rowHeight="2em">
  <md-grid-tile class="header-checkbox">
    <md-checkbox [(ngModel)]="checked" style="width: 30px;" ></md-checkbox>
  </md-grid-tile>
  <span *ngFor="let key of product | getjsoncolkeys">
    <md-grid-tile class="header-checkbox">
      <a>{{ key }}</a>
    </md-grid-tile>
  </span>
</md-grid-list>

<!--Body Column Value-->
<md-grid-list
  *ngFor="let product of products | paginate: { itemsPerPage: selectedValue, currentPage: p }
   let i=index" [cols]="fixedCols" rowHeight="3em" class="custom-grid-list">
  <md-grid-tile><md-checkbox [checked]="checked"></md-checkbox></md-grid-tile>
  <md-grid-tile *ngFor="let value of product | getjsonvalues; let i=index">
    {{value }}
  </md-grid-tile>
</md-grid-list>

<!--Footer Column Value-->
<md-grid-list [cols]="1" rowHeight="3em">
  <md-grid-tile>
    <pagination-controls
      #api
      (pageChange)="p = $event"
      [maxSize]="maxSizeBottom">
    </pagination-controls>
  </md-grid-tile>
</md-grid-list>

<!--  <div *ngFor="let key of product | getjsoncolkeys">
      <md-grid-tile>{{ product }}</md-grid-tile>
    </div>-->
  <!--  <md-grid-tile>{{ product.id }}</md-grid-tile>
    <md-grid-tile>{{ product.title }}</md-grid-tile>
    <md-grid-tile>{{ product.condition }}</md-grid-tile>
    <md-grid-tile>{{ product.description }}</md-grid-tile>
    <md-grid-tile>{{ product.date }}</md-grid-tile>-->

<!--</md-list>-->






<!--<div class="text-center">
  <h1>ng2-pagination live demo</h1>
  <p>A bare-bones demo for your experimenting / bug-reproducing pleasure.</p>
</div>
<div class="row">
  <div class="medium-8 medium-offset-2 columns">
    <h2 class="subheader"></h2>
    <ul>
      <li *ngFor="let item of collection | paginate: { itemsPerPage: 10, currentPage: p }">{{ item }}</li>
    </ul>

    <pagination-controls (pageChange)="p = $event" #api></pagination-controls>
  </div>
</div>-->



<!--<div>
  <input type="text" [(ngModel)]="username" />
  <button (click)="toUpperCase()">UPPERCASE!</button>
  <button (click)="toLowerCase()">lowercase!</button>

  <h1>{{ username }}</h1>
</div>-->

<!--

<md-card>
  <md-card-content>
    <h2 class="example-h2">Checkbox configuration</h2>

    <section class="example-section">
      <md-checkbox class="example-margin" [(ngModel)]="checked">Checked</md-checkbox>
      <md-checkbox class="example-margin" [(ngModel)]="indeterminate">Indeterminate</md-checkbox>
    </section>

    <section class="example-section">
      <label class="example-margin">Align:</label>
      <md-radio-group [(ngModel)]="align">
        <md-radio-button class="example-margin" value="start">Start</md-radio-button>
        <md-radio-button class="example-margin" value="end">End</md-radio-button>
      </md-radio-group>
    </section>

    <section class="example-section">
      <md-checkbox class="example-margin" [(ngModel)]="disabled">Disabled</md-checkbox>
    </section>
  </md-card-content>
</md-card>

<md-card class="result">
  <md-card-content>
    <h2 class="example-h2">Result</h2>

    <section class="example-section">
      <md-checkbox
        class="example-margin"
        [checked]="checked"
        [indeterminate]="indeterminate"
        [align]="align"
        [disabled]="disabled">
        I'm a checkbox
      </md-checkbox>
    </section>
  </md-card-content>
</md-card>



-->
