.mat-grid-list .header-checkbox {
  background-color: red;
  border-left-color: red;
  width:10px;
&:hover {
      background-color: #eee;
    }
}


.custom-grid-list {
  &:hover {
    background-color: dimgray;
  }
}


